<div class="container">
  <div class="row text-center mt-4">
    <div class="col">
      <img src="https://i.pinimg.com/originals/9e/85/c2/9e85c220692b3aa653b5e8daec2cd69e.png" alt=""
        class="img-fluid" width="200px">
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col">
      <h2>Ingrese Datos del Pasajero</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-2">
      <label for="txtId" class="from-label">ID</label>
      <input type="text" name="id" id="txtId" class="form-control" [(ngModel)]= "agencia.id" disabled="true">
    </div>
    <div class="col-md-4">
      <label for="txtNombre" class="from-label">Nombre</label>
      <input type="text" name="id" id="txtNombre" class="form-control" [(ngModel)]= "agencia.nombre">
    </div>
    <div class="col-md-2">
      <label for="txtApellido" class="from-label">Apellido</label>
      <input type="text" name="id" id="txtapellido" class="form-control" [(ngModel)]= "agencia.apellido">
    </div>
    <div class="col-md-4">
      <label for="txtCedula" class="from-label">Cédula</label>
      <input type="text" name="id" id="txtCedula" class="form-control" [(ngModel)]= "agencia.cedula">
    </div>
    <div class="col-md-4">
      <label for="txtEmail" class="from-label">Email</label>
      <input type="text" name="id" id="txtEmail" class="form-control" [(ngModel)]= "agencia.email">
    </div>
    <div class="col-md-4">
      <label for="txtCelular" class="from-label">Celular</label>
      <input type="text" name="id" id="txtCelular" class="form-control" [(ngModel)]= "agencia.celular">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <button class="btn btn-success" type="button" (click)="onAddCliente(agencia)">Agregar</button>
      <button class="btn btn-warning m-2" type="button" (click)="onUpdateCliente(agencia)">Modificar</button>
      <button class="btn btn-danger" type="button" (click)="onDeleteCliente(agencia.id, agencia)">Eliminar</button>
      <button class="btn btn-primary m-2" type="button" (click)="clear()">Limpiar</button>
    </div>
    
  </div>
  <div class="row mt-5">
    <div class="col">
      <table id="dtMascota" class="table table-striped" style="width: 100%;">
        <thead>
          <tr>
            <th>Seleccionar</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cédula</th>
            <th>Email</th>
            <th>Celular</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of datatable">
            <td><input type="button" value="Seleccionar" (click)="onSetData(item)"></td>
            <td> {{ item.idCliente }} </td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.apellido }}</td>
            <td>{{ item.cedula }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.celular }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> 

<!-- <div class="row">
  <div class="col-6 offset-3">
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </div>
</div>

<div class="container">
  <form class="p-xxl-5">
    <div class="row g-0">
      <div class="col text-center p-2 mb-3 bg-light">
        <span class="fs-3">Registro</span>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
          <label for="firstname" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="firstname">
      </div>
      <div class="col mb-3" >
        <label for="lastname" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="lastname">
      </div>
        <div class="col mb-3" >
          <label for="phone" class="form-label">Número de Celular</label>
          <input type="text" class="form-control" id="phone">
        </div>
    </div>
        <div class="row">
            <div class="col mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
                <div class="form-text"></div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3" >
              <label for="password" class="form-label">Contraseña</label>
              <input type="text" class="form-control" id="password">
          </div>
          <div class="col mb-3" >
              <label for="password2" class="form-label">Repita la Contraseña</label>
              <input type="text" class="form-control" id="password2">
          </div>
        </div>
  </form>
</div>

<div>
  <div>
    <div>

    </div>
  </div>
</div> -->